<%- include('partials/header') %>

<%- include('partials/navbar') %>

<section id="dashboard">

	<main>

		<div class="chart-container">

			<div class="chart-box">
				<b>Projetos</b>
				<canvas id="donut"></canvas>
			</div>

			<div class="chart-box">
				<b>Tasks</b>
				<canvas id="aria"></canvas>
			</div>

			<div class="chart-box">
				<b>Solicitações</b>
				<canvas id="pie"></canvas>
			</div>

			<div class="chart-box">
				<b>Desenvolvedores</b>
				<canvas id="radar"></canvas>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

		<script>
			const ctx1 = document.getElementById('donut');
			const ctx2 = document.getElementById('aria');
			const ctx3 = document.getElementById('pie');
			const ctx4 = document.getElementById('radar');

			Chart.defaults.color = '#FFFFFF';

			new Chart(ctx1, {
				type: 'doughnut',
				data: {
					labels: ['Em Planejamento', 'Em Andamento', 'Concluido'],
					datasets: [{
						label: 'Projetos',
						data: <%- projectsData %>,
						borderWidth: 1,
						backgroundColor: ['#474EF5', '#F47538', '#68F52F']
					}]
				},
				options: {

				}
			});

			new Chart(ctx2, {
				type: 'pie',
				data: {
					labels: ['Product Backlog', 'Sprint Backlog', 'In Development', 'Finished'],
					datasets: [{
						label: 'Tarefas',
						data: <%- tasksData %>,
						borderWidth: 1,
						backgroundColor: ['#4756F5', '#F44343', '#F5CA2F', '#3BF56F']
					}]
				},
				options: {}
			});

			new Chart(ctx3, {
				type: 'pie',
				data: {
					labels: ['Atendidas', 'Recusadas'],
					datasets: [{
						label: 'Solicitações',
						data: <%- requestsData %>,
						borderWidth: 1,
						backgroundColor: ['#03A832', '#F53636']
					}]
				},
				options: {}
			});

			new Chart(ctx4, {
				type: 'radar',

				data: {
					labels: <%- devsNames %>,
					datasets: [{
						label: 'Tasks Concluidas',
						data: <%- devsData %>,
						borderWidth: 1,
						backgroundColor: ['#3BF56F']
					}]
				},

				options: {
					scales: {
						r: {
							ticks: {
								display: false // Hides the labels in the middel (numbers)
							}
						}
					}
				}
			});
		</script>

		<img src="/img/dots-grid.png" alt="Fundo pontilhado da dashboard">

		<% projects.slice().reverse().forEach((project)=> { %>

		<% let projectStatus = "Em planejamento" %>

		<% switch (project.status) {
                case 1 : %>
		<% projectStatus = "Em andamento" %>
		<% break
                case 2 : %>
		<% projectStatus = "Concluido" %>
		<% break
            } %>

		<div class="project-box">
			<p><b>Projeto:</b> <%= project.projectName %></p>
			<p><b>Project Owner:</b> <%= project.owner %></p>
			<p><b>Status:</b> <%= projectStatus %></p>

			<form action="/project/<%= project.id %>" method="get">
				<button class="btn btn-secondary" type="submit">Detalhes</button>
			</form>

		</div>

		<% }) %>

	</main>

</section>

<%- include('partials/footer') %>