<%- include('partials/header') %>

<%- include('partials/navbar') %>

<section id="dashboard">

    <main>

        <img src="/img/dots-grid.png" alt="He">

        <% projects.slice().reverse().forEach((project)=> { %>

            <% let projectStatus = "Em planejamento" %>
                                        
            <% switch (project.status) {
                case 1 : %>
                    <% projectStatus = "Em andamento" %>
                <% break
                case 2 : %>
                    <% projectStatus = "Concluido" %>
                <% break
            } %>

            <div class="project-box">
                <p><b>Projeto:</b> <%= project.projectName %></p>
                <p><b>Project Owner:</b> <%= project.owner %></p>
                <p><b>Status:</b> <%= projectStatus %></p>

                <form action="/project/<%= project.id %>" method="get">
                    <button class="btn btn-secondary" type="submit">Detalhes</button>
                </form>
                
            </div>
        <% }) %>
        
    </main>

</section>

<%- include('partials/footer') %>