<%- include('partials/header') %>

<section id="dashboard">

    <div class="container-fluid">

        <h1>Dashboard</h1>

        <nav class="navbar"></nav>

        <h1>Ola, <%= user.name %></h1>

        <div class="menus">
        
            <% if (user.email==='admin' ) { %>

                <form class="btn-dash" action="/admin/register" method="get">
                    <button class="btn btn-primary" type="submit">Gerenciar Desenvolvedores</button>
                </form>
                    
                <form class="btn-dash" action="/admin/requests" method="get">
                    <button class="btn btn-primary" type="submit">Solicitações</button>
                </form>

            <% } %>

            <form class="btn-dash" action="/logout" method="get">
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>

        </div>
                
        <h1>Projetos</h1>

        <% projects.forEach((project)=> { %>

            <div class="project-box">
                <p>Projeto: <%= project.projectName %></p>
                <p>Project Owner: <%= project.projectOwner %></p>
                <p>Status: <%= project.projectStatus %></p>

                <form action="/dashboard/<%= project.id %>" method="get">
                    <button class="btn btn-secondary" type="submit">Detalhes</button>
                </form>
                
            </div>
        <% }) %>
    </div>

</section>

<%- include('partials/footer') %>