<%- include('partials/header') %>

<section id="dashboard">
        <header>
            <h1>Ola, <%= user.name %></h1>

            <nav class="menus">
            
                <% if (user.email === 'admin') { %>

                    <form class="btn-dash" action="/user/register" method="get">
                        <button class="btn" type="submit">Gerenciar Desenvolvedores</button>
                    </form>
                        
                    <form class="btn-dash" action="/request/view" method="get">
                        <% if (requestAlert) { %>
                        <button class="btn " type="submit"><i class="fa-solid fa-bell"></i> Solicitações</button>
                        <% } else { %>
                        <button class="btn " type="submit">Solicitações</button>
                        <% } %>
                    </form>

                <% } %>

                <form class="btn-dash" action="/user/notifications" method="post">
                    <button class="btn " type="submit">Notificações</button>
                </form>

                <form class="btn-dash" action="/user/quit" method="post">
                    <button class="btn " type="submit">Logout</button>
                </form>

            </nav>
        </header>
                
        <h1>Projetos</h1>

        <% projects.forEach((project)=> { %>

            <div class="project-box">
                <p><b>Projeto:</b> <%= project.projectName %></p>
                <p><b>Project Owner:</b> <%= project.projectOwner %></p>
                <p><b>Status:</b> <%= project.projectStatus %></p>

                <form action="/project/<%= project.id %>" method="get">
                    <button class="btn btn-secondary" type="submit">Detalhes</button>
                </form>
                
            </div>
        <% }) %>

</section>

<%- include('partials/footer') %>