<%- include('partials/header') %>

<section id="metrics">

	<%- include('partials/navbar') %>

	<% let tasks = project.todolist.length %>
	<% let finishedTasks = 0 %>

	<% project.todolist.forEach((todolistitem) => { %>
	<% if (todolistitem.status === 3) { %>
	<% finishedTasks++ %>
	<% } %>
	<% }) %>

	<% let projectStatus = "Em planejamento" %>

	<% switch (project.status) {
        case 1 : %>
	<% projectStatus = "Em andamento" %>
	<% break
        case 2 : %>
	<% projectStatus = "Concluido" %>
	<% break
    } %>

	<main>
		<div class="spacer">

			<h1>Relatório do Projeto</h1>

			<button class="submit-btn print-btn mb-3" onclick="window.print()">Imprimir Relatorio</button>

		</div>

		<div class="progress">

			<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="<%= (tasks == 0) ? 0 : (finishedTasks * 100 / tasks) %>" aria-valuemin="0" aria-valuemax="100">
				<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: <%= (tasks == 0) ? 0 : (finishedTasks * 100 / tasks) %>%"><%= (tasks == 0) ? 0 : Math.round((finishedTasks * 100 / tasks)) %>% das Tarefas Concluidas</div>
			</div>

		</div>

		<hr>

		<div class="row details">

			<div class="col-6">
				<h2>Projeto</h2>
				<p><b>Nome do projeto:</b> <%= project.projectName %></p>
				<p><b>Descrição:</b> <%= project.description %></p>
				<p><b>Product Owner:</b> <%= project.owner %></p>
				<p><b>Desenvolvedores responsáveis:</b>
					<% project.developers.forEach((developer) => { %>
					<%= developer.name %>,
					<% }) %>
				</p>
				<p><b>Data limite:</b> <%= project.deadline %></p>
				<p><b>Status:</b> <%= projectStatus %></p>
			</div>

			<div class="col-6">

				<h2>Cliente</h2>
				<p><b>Nome do cliente:</b> <%= project.clientName %></p>
				<p><b>E-mail:</b> <%= project.clientEmail %></p>
				<p><b>Telefone:</b> <%= project.clientPhone%></p>

			</div>

		</div>

		<h2 class="mt-5">Status</h2>
		<table class="table table-bordered">
			<thead class="table-light">
				<tr>
					<th scope="col">Desenvolvedores trabalhando no projeto</th>
					<th scope="col">Itens na To-do List</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= project.developers.length %></td>
					<td><%= project.todolist.length %></td>
				</tr>
			</tbody>
		</table>


		<h2 class="mt-5">Desenvolvedores</h2>
		<table class="table table-bordered">
			<thead class="table-light">
				<tr>
					<th scope="col">Desenvolvedor</th>
					<th scope="col">Numero de Tarefas Atribuidas</th>
					<th scope="col">Numero de Tarefas Completas</th>
				</tr>
			</thead>
			<tbody>
				<% project.developers.forEach((developer) => { %>
				<tr>
					<td><%= developer.name %></td>

					<% let tarefasAtribuidas = 0 %>
					<% project.todolist.forEach((todolistitem) => { %>
					<% if (todolistitem.developer.email === developer.email) { %>
					<% tarefasAtribuidas++ %>
					<% } %>
					<% }) %>
					<td><%= tarefasAtribuidas %></td>

					<% let tarefasFinalizadas = 0 %>
					<% project.todolist.forEach((todolistitem) => { %>
					<% if (todolistitem.developer.email === developer.email) { %>
					<% if (todolistitem.status === 3) { %>
					<% tarefasFinalizadas++ %>
					<% } %>
					<% } %>
					<% }) %>
					<td><%= tarefasFinalizadas %></td>

				</tr>
				<% }) %>
			</tbody>
		</table>

		<h2 class="mt-5">Tarefas</h2>

		<table class="table table-bordered">
			<thead class="table-light">
				<tr>
					<th scope="col">Título</th>
					<th scope="col">Desenvolvedor responsável</th>
					<th scope="col">Status</th>
				</tr>
			</thead>

			<tbody>
				<% project.todolist.forEach((todolistitem) => { %>
				<tr>
					<td><%= todolistitem.title %></td>
					<td><%= todolistitem.developer.name %></td>
					<td><% switch (todolistitem.status) {
                            case 0 : %>
						Backlog do produto
						<% break
                            case 1 : %>
						Backlog da sprint
						<% break
                            case 2 : %>
						Em desenvolvimento
						<% break
                            case 3 : %>
						Finalizado
						<% break
                        } %></td>
				</tr>

				<% }) %>
			</tbody>
		</table>

	</main>

</section>

<%- include('partials/footer') %>