<%- include('partials/header') %>

<section id="notification-viewer">

    <%- include('partials/navbar') %>

    <div class="page">
        
        <div class="box">

        <h1>Notificações</h1>

        <% if (notifications.length == 0) { %>

            <p><em>Não há novas notificações</em></p>

        <% } else { %>

            <% notifications.slice().reverse().forEach(notification => { %>
                <hr>
                <form action="/user/notification" method="post">

                    <div class="spacer">
                        <h6><%= notification.title %></h6>
                        <input class="form-check-input" type="checkbox" name="notificationId" value="<%= notification._id %>" onChange="this.form.submit()">
                    </div>

                    <p><%= notification.message %></p>

                </form>

            <% }) %>

        <% } %>

        </div>

    </div>

</section>

<%- include('partials/footer') %>