<%- include('partials/header') %>

<section id="project">

    <div class="container-fluid">

        <div class="project-header">
            <h1><%= project.projectName %></h1>
        </div>

        <div class="project-body">

            <div class="row">

                <div class="col">

                    <p><b>Cliente:</b> <%= project.clientName %></p>

                    <p><b>Status:</b> <%= project.projectStatus %></p>

                    <p><b>Desenvolvedores:</b> 
                    <% project.developers.forEach(dev => { %>
                        <%= dev.name %>,
                    <% }) %>
                    </p>

                </div>

                <div class="col">

                    <p><b>Data Limite:</b> <%= project.projectDeadline %></p>

                </div>


            </div>

        </div>

        <div class="project-footer">

            <h1>ToDoList</h1>

        </div>

    </div>

</section>
    
<%- include('partials/footer') %>