<%- include('partials/header') %>

<section id="project">

    <div class="container-fluid">

        <div class="project-header">
            <h1><%= project.projectName %></h1>
        </div>

        <div class="project-body">

            <div class="row">

                <div class="col">

                    <p><b>Cliente:</b> <%= project.clientName %></p>

                    <p><b>Status:</b> <%= project.projectStatus %></p>

                    <p><b>Desenvolvedores:</b> 
                    <% project.developers.forEach(dev => { %>
                        <%= dev.name %>,
                    <% }) %>
                    </p>

                </div>

                <div class="col">

                    <p><b>Data Limite:</b> <%= project.projectDeadline %></p>

                </div>


            </div>

        </div>

        <div class="project-footer">

            <h1>To Do List</h1>

            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#new-item-modal">Nova tarefa</button>

            <!-- Modal -->
            <div class="modal fade" id="new-item-modal" tabindex="-1" aria-hidden="true">

                <div class="modal-dialog">

                    <form action="/dashboard/<%= project.id %>/todolist/new" method="post">

                        <div class="modal-content">

                            <div class="modal-header">
                                <h1 class="modal-tit le fs-5" id="exampleModalLabel">Nova Tarefa</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="taskInput" name="taskInput" placeholder="Titulo" required>
                                    <label for="taskInput">Titulo</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="mt-1 selectpicker" data-width="100%" id="floatingSelect" title="Designar desevolvedor" data-live-search="true" name="assignedDeveloper" required>
                                        <% project.developers.forEach((developer) => { %>
                                            <option value="<%= developer.id %>"><%= developer.name %></option>
                                        <% }) %>
                                    </select>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Criar</button>
                            </div>

                        </div>

                    </form>

                </div>

            </div>

            <% project.todolist.forEach((item) => { %>

                <form action="/dashboard/<%= project.id %>/todolist/<%= item.id %>" method="post">

                    <div class="todolist-item">

                        <p><b><%= item.title %></b></p>

                        <div class="status-tag">
                            <% switch (item.status) {
                                case 0 : %>
                                    <p class="product-backlog">Product Backlog</p>
                                <% break
                                case 1 : %>
                                    <p class="sprint-backlog">Sprint Backlog</p>
                                <% break
                                case 2 : %>
                                    <p class="development">In Development</p>
                                <% break
                                case 3 : %>
                                    <p class="finished">Finished</p>
                                <% break
                            } %>
                        </div>

                        <p><b>Dev:</b> <%= item.developer.name %></p>

                        <hr>

                    </div>

                </form>
                
            <% }) %>

        </div>

    </div>

</section>
    
<%- include('partials/footer') %>