<%- include('partials/header') %>

<section id="project">

    <h1><%= project.projectName %></h1>

    <p>Descrição: <%= project.projectDescription %></p>

    <p>Cliente: <%= project.clientName %></p>
    <p>Email: <%= project.clientEmail %></p>
    <p>Phone: <%= project.clientPhone %></p> 

    <button>ToDoList</button>

    <button>Developers</button>

</section>
    
<%- include('partials/footer') %>